header{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1024px;
  width: 100%;
  background: rgba(245, 245, 245, 0.2);
  height: 50px;
  line-height: 50px;
  -webkit-transition: background 300ms ease-out 100ms;
  -moz-transition: background 300ms ease-out 100ms;
  -o-transition: background 300ms ease-out 100ms;
}
header:hover{
  background: rgb(245, 245, 245);
  -webkit-transition: background 300ms ease-in 100ms;
  -moz-transition: background 300ms ease-in 100ms;
  -o-transition: background 300ms ease-in 100ms;
}
header h1 {
  color: #FFF;
  font: 20px Georgia;
  margin: 14px 0 0 44px;
  -webkit-transition: color 300ms ease-out 100ms;
  -moz-transition: color 300ms ease-out 100ms;
  -o-transition: color 300ms ease-out 100ms;
}
header:hover h1{
  color: #222;
  -webkit-transition: color 300ms ease-in 100ms;
  -moz-transition: color 300ms ease-in 100ms;
  -o-transition: color 300ms ease-in 100ms;
}
header h1 strong {
  font-size: 14px;
  font-family: sans-serif;
  height: 16px;
  margin: 0 0 0 65px;
  display: inline-block;
  font-weight: normal;
  color: rgba(255,255,255,0.2);
  -webkit-transition: color 300ms ease-out 100ms;
  -moz-transition: color 300ms ease-out 100ms;
  -o-transition: color 300ms ease-out 100ms;
}
header:hover h1 strong {
  color: #222;
  -webkit-transition: color 300ms ease-in 100ms;
  -moz-transition: color 300ms ease-in 100ms;
  -o-transition: color 300ms ease-in 100ms;
}
header h1 strong span {
  display: inline-block;
  height: 19px;
  width: 52px;
  background: transparent url(../img/google+.png) no-repeat;
  text-indent: -9999px;
  cursor: text;
  opacity: 0.3;
  -webkit-transition: opacity 300ms ease-out 100ms;
  -moz-transition: opacity 300ms ease-out 100ms;
  -o-transition: opacity 300ms ease-out 100ms;
}
header:hover h1 strong span {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in 100ms;
  -moz-transition: opacity 300ms ease-in 100ms;
  -o-transition: opacity 300ms ease-in 100ms;
}
header a {
  position: absolute;
  top: 12px;
  right: 44px;
  height: 27px;
  font-size: 13px;
  line-height: 27px;
  vertical-align: bottom;
  margin: 0;
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  display: inline-block;
  min-width: 54px;
  text-align: center;
  font-weight: bold;
  padding: 0 8px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  cursor: default;
  opacity: 0.2;
  -webkit-transition: opacity 300ms ease-out 100ms;
  -moz-transition: opacity 300ms ease-out 100ms;
  -o-transition: opacity 300ms ease-out 100ms;
}
header:hover a {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in 100ms;
  -moz-transition: opacity 300ms ease-in 100ms;
  -o-transition: opacity 300ms ease-in 100ms;
}
header #wall_picture {
  position: absolute;
  top: 12px;
  left: 550px;
  height: 27px;
  line-height: 27px;
  display:inline-block;
  color: rgba(255,255,255,0.2);
}
header #wall_picture img {
  vertical-align: top;
  box-shadow: 0px 0 3px #000;
  margin-left: 5px;
  opacity: 0.2
}
header:hover #wall_picture{
  color: #222;
  -webkit-transition: color 300ms ease-in 100ms;
  -moz-transition: color 300ms ease-in 100ms;
  -o-transition: color 300ms ease-in 100ms;
}
header:hover #wall_picture img {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in 100ms;
  -moz-transition: opacity 300ms ease-in 100ms;
  -o-transition: opacity 300ms ease-in 100ms;
}
#about_box {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
#about_box p{
  margin: 10px;
}
.about_close_box{
  position:relative;
  left: 100%;
}
#info p{
  margin: 0;
  text-align: right;
}
#info #share_box{
  width: 303px;
  margin-left: 160px;
}
.label{
  padding:1px 3px 2px;
  background-color:#bfbfbf;
  font-size:9.75px;
  font-weight:bold;
  color:#ffffff;
  text-transform:uppercase;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.important{background-color:#c43c35;}
.warning{background-color:#f89406;}
.success{background-color:#46a546;}

#warn {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 5px 0;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
